 .img
    {
     display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top:0.5em;
      border:none;
      margin-bottom:0.5em;
    }

#menu {
    padding-bottom:1em;
    display: table;
    margin: 0 auto;
    margin-bottom:0;
}

p {
    background-color: white;
    padding-top:0em;
    padding-left:1em;
    padding-right:0.5em;
    margin-top:0em;
    font-family: Candara
}

.MiLabel 

{
    text-align:center;
}


